.features {
  padding: var(--site-padding-12) 0 var(--site-padding-16);
}

.featuresHeader {
  margin-bottom: var(--site-margin-8);
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--site-gap-6);
}

@media screen and (max-width: 996px) {
  .features {
    padding: var(--site-padding-12) 0 var(--site-padding-12);
  }

  .featuresGrid {
    grid-template-columns: 1fr;
  }
}
