.latestPosts {
  padding: var(--site-padding-12) 0 var(--site-padding-20);
}

.sectionHeading {
  margin-bottom: var(--site-margin-12);
}

.postList {
  display: grid;
  gap: var(--site-gap-8);
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: var(--site-margin-12);
}

@media screen and (max-width: 996px) {
  .latestPosts {
    padding: var(--site-padding-8) 0 var(--site-padding-16);
  }
}
