.card {
  border: 1px solid rgb(39, 39, 39);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card__image {
  width: 100%;
  max-width: 300px;
  border-radius: 8px 8px 0 0;
}

.card__title {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.card__content {
  font-size: 1rem;
  margin-bottom: 0px;
}
