.label {
  padding: var(--site-padding-1) var(--site-padding-2);
  border-radius: 24px;
  font-size: 0.8rem;
  font-weight: var(--site-font-weight-semibold);
  display: inline-block;
}

.red {
  background-color: #e34444;
  color: #ffffff;
}

.green {
  background-color: #238723;
  color: #ffffff;
}

.blue {
  background-color: #5555c0;
  color: #ffffff;
}

.yellow {
  background-color: #eba21b;
  color: #ffffff;
}
